.contenedorFormLoguin{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    .encabezado{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
        .logo{
            height: 150px;
            width: 150px;
        }
        h1{
            font-size: 32px;
            text-align: center;
        }

        
    }
    .formularioLoguin{
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
}