.contenedorSidebar {
    position: relative;
    max-height: 100vh;
    color: #fff;
}

.btnSidebar {
    position: absolute;
    right: 0;
    top: 4.3rem;
    border: none;
    background-color: #621c19;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 1.1rem;
}

.sidebar {
    width: 22rem;
    height: 100vh;
    background-color: #450a0a;
    padding: 1rem;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.encabezadoSidebar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    position: fixed;
    height: 80px;
    width: max-content;
}

.botonLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: 3px solid #e5e7eb;
    padding-bottom: 10px;
    margin-left: 10px;
}

.logoSidebar {
    width: 3rem;
    height: auto;
}

.fisei {
    font-size: 1.2rem;
    font-weight: 600;
}

.sidebar.collapsed {
    width: 8rem;
}

.sidebar.collapsed .encabezadoSidebar .fisei {
    display: none;
}

.sidebar.collapsed .menu-item-title,
.sidebar.collapsed .submenu-item-title,
.sidebar.collapsed .single-submenu-title,
.sidebar.collapsed .nombreCerrarSesion {
    display: none;
}

.sidebar.collapsed .submenuItem,
.sidebar.collapsed .botonCerrarSesion,
.sidebar.collapsed .single-submenu  {
    display: flex;
    justify-content: center;
}

.contenedorItems {
    margin-top: 80px;
    padding: 10px;
    max-height: 75vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contenedorItems::-webkit-scrollbar {
    display: none;
}

.cerrarSesion {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.botonCerrarSesion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
}

.botonCerrarSesion:hover {
    background-color: #7e161b;
}

.fondoOpcionMenu {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.contenedorSubmenuItems {
    border-radius: 10px;
}

.contenedorSubmenuItemsPressed {
    background-color: #7e161b;
    border-radius: 10px;
}

.textoOpcionMenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.submenu {
    margin-top: -10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.submenuItem {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
}

.submenuItemPressed,
.submenuItem:hover {
    background-color: #450a0a;
}

.contenedorSubmenuItems:hover {
    background-color: #7e161b;
    border-radius: 10px;
}

.single-submenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 10px;
}
