.table-container{
  width: 100%;
  margin: 30px 0;

  .top-content{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    Button{
      background-color: #7e161b;
      color: #fff;
    }
  }
}

.custom-edit-button {
  background-color: #434343;
}
.custom-edit-button:hover {
  background-color: #737373;
}

.custom-delete-button {
  background-color: #450a0a;
}

.custom-delete-button:hover {
  background-color: #7e161b;
}

.custom-icon {
  color: white;
}

.custom-delete-tooltip{
  background-color: #7e161b;
  color: #fff;
}
.custom-edit-tooltip{
  background-color: #434343;
  color: #fff;
}

.bottom-content{
  display: flex;
  justify-content: space-between;
}


.pagination-controls{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.contenedorTablaFiltros{
  display: flex;
  flex-direction: row;
  gap: 20px;
  .tabla{
    width: 80%;
  }
  .filtros{
    width: 20%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
  }
}